body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*background: #000000 url('../images/bg1.jpg') no-repeat 0 -100px fixed;*/
	background-color: #000000;
}

#wrapper{
	min-height:100%;
	position:relative;
}

header{
	z-index: 200;
	position: fixed;
	width:100%;
}

#mainNav{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-top: 30px;
	padding-left: 5%;
	padding-right: 5%;
    background: transparent url('../images/gradient.png') repeat-x -20px;
    -webkit-transition: background 1s;
    transition:background 1s;
}

nav li {
    float: left;
    display: inline;
    vertical-align: middle;
    line-height: 100px;
}

nav li:last-child{
	float:right;
	text-align: right;
}

nav li:last-child a{
	text-align: right;
	margin:auto;
}

nav li a{
	margin-right: 150px;
	color: #dadada;
	text-decoration: none;
	text-transform: uppercase;
}

#logo {
	height:80px;
	margin-right: 30px;
}

#banner{
	color: #dadada;
	position: relative;
	padding-top:300px;
	font-size: 50px;
	padding-left: 5%;
	text-transform: uppercase;
	line-height: 70px;
	padding-bottom: 450px;
}

#bannerContent{
	z-index:90;
}

#bannerContent a{
	color: white;
}

#mainButton{
	font-size: 60%;
	position: relative;
	top:30px;
	display: inline-block;
	padding:0 30px;
	border-radius: 15px;
	background-color: #8a877e;
	-webkit-transition: background 1s;
    transition:background 1s;
}

#bannerContent #mainButton:hover{
	background-color: #dadada;
	color: black;
}

main{
	background: #000000 url('../images/darkTex.png') repeat;
	position: relative;
	/*margin-bottom: 30px;*/
}

#news{
	margin-left: 5%;
	margin-right: 5%;
	position: relative;
	top: -100px;
	padding-bottom: 50px;
	vertical-align: top;
}

.panels{
	width:30%;
	margin-right: 5%;
	display:inline-block;
	vertical-align: top;
	background: #dadada url('../images/lightTex.png') repeat;
}

.panels:last-child{
	margin-right: 0;
}

.panels>*{
	margin-left:5%;
	margin-right:5%;
	width:90%;
}

.panels>h3{
	margin-top:30px;
}

.panelImg{
	height:300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.panels>p{
	margin-bottom:30px;
}

footer{
	background-color: #000000;
	position: absolute;
	bottom: 0;
	width:100%;
	margin-top: 0px;
	text-align: center;
	color: #dadada;
	padding-top:30px;
}

/*footer #sitemap{
	color: #dadada;
	padding-left: 5%;
	padding-top: 50px;
	display: inline-block;
	width: 30%;
}

footer li{
	list-style-type: none;
}*/

/*footer #sitemap a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}*/
